langchain
langgraph
langsmith
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langchain_tavily
langchain-mcp-adapters
mcp
langchain-core
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
pageindex
deepagents
tavily